# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
homepage:
  url:   /
  param: { module: main, action: index }

switch_lang:
  url:   /switch/lang/:langage
  param: { module: language, action: switch }
  allow_empty: false
  requirements:
    sf_method: [post]
    langage: (?:fr|en|de|cn)

matchs_current:
  url: /matchs/current
  class: sfRequestRoute
  param: { module: matchs, action: matchsInProgress }
  requirements:
    sf_method: [get, post]

matchs_current_page:
  url: /matchs/current/:page
  class: sfRequestRoute
  param: { module: matchs, action: matchsInProgress }
  requirements:
    sf_method: [get, post]
    page: \d+

matchs_archived:
  url: /matchs/archived
  class: sfRequestRoute
  param: { module: matchs, action: matchsArchived }
  requirements:
    sf_method: [get]

matchs_archived_page:
  url: /matchs/archived/:page
  class: sfRequestRoute
  param: { module: matchs, action: matchsArchived }
  requirements:
    sf_method: [get]
    page: \d+

matchs_filters:
  url: /matchs/filter
  class: sfRequestRoute
  param: { module: matchs, action: filters }
  requirements:
    sf_method: [put,post]

matchs_filters_clear:
  url: /matchs/filter/clear
  class: sfRequestRoute
  param: { module: matchs, action: filtersClear }
  requirements:
    sf_method: [get]

matchs_actions:
  url: /matchs/actions/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: matchsActions }
  requirements:
    id : \d+
    sf_method: [get,post]

matchs_duplicate:
  url: /matchs/duplicate/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: duplicate }
  requirements:
    id : \d+
    sf_method: [get]

matchs_create:
  url: /matchs/create
  class: sfRequestRoute
  param: { module: matchs, action: create }
  requirements:
    sf_method: [get,put,post]

matchs_start_retry:
  url: /matchs/start/retry/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: startRetry }
  requirements:
    id : \d+
    sf_method: [get]

match_put_archive:
  url: /matchs/set/archive/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: setArchive }
  requirements:
    id : \d+
    sf_method: [get]

matchs_stop:
  url: /matchs/stop/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: stop }
  requirements:
    id : \d+
    sf_method: [get]

matchs_reset:
  url: /matchs/reset/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: reset }
  requirements:
    id : \d+
    sf_method: [get]

matchs_reset_map:
  url: /matchs/resetmap/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: resetMap }
  requirements:
    id : \d+
    sf_method: [get]

matchs_pause_unpause:
  url: /matchs/pause/unpause/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: pauseUnpause }
  requirements:
    id : \d+
    sf_method: [get]

matchs_stop_back:
  url: /matchs/stop-back/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: stopBack }
  requirements:
    id : \d+
    sf_method: [get]

matchs_stop_rs:
  url: /matchs/stop/:id/rs
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: stopRS }
  requirements:
    id : \d+
    sf_method: [get]

matchs_pass_knife:
  url: /matchs/pass/knife/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: passKnife }
  requirements:
    id : \d+
    sf_method: [get]

matchs_force_knife:
  url: /matchs/force/knife/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: forceKnife }
  requirements:
    id : \d+
    sf_method: [get]

matchs_force_end_knife:
  url: /matchs/force/knife/end/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: forceKnifeEnd }
  requirements:
    id : \d+
    sf_method: [get]

matchs_force_start:
  url: /matchs/force/start/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: forceStart }
  requirements:
    id : \d+
    sf_method: [get]

matchs_rcon:
  url: /matchs/rcon/open/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: openRcon }
  requirements:
    id : \d+
    sf_method: [get]

matchs_start_with_server:
  url: /matchs/start/server
  class: sfRequestRoute
  param: { module: matchs, action: start }
  requirements:
    sf_method: [get,put,post]

matchs_view:
  url: /matchs/view/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: view }
  requirements:
    id : \d+
    sf_method: [get]

matchs_delete:
  url: /matchs/delete/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

matchs_edit:
  url: /matchs/edit/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

matchs_score_edit:
  url: /matchs/edit/:id/score
  class: sfDoctrineRoute
  options: { model: MapsScore, type: object}
  param: { module: matchs, action: editScore }
  requirements:
    id : \d+
    sf_method: [put,post]

servers_create:
  url: /servers/create
  class: sfRequestRoute
  param: { module: servers, action: create }
  requirements:
    sf_method: [get,put,post]

server_delete:
  url: /servers/delete/:id
  class: sfDoctrineRoute
  options: { model: Servers, type: object}
  param: { module: servers, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

matchs_logs:
  url: /matchs/logs/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: logs }
  requirements:
    id : \d+
    sf_method: [put,post]

matchs_heatmap_data:
  url: /matchs/heatmap/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: heatmapData }
  requirements:
    id : \d+
    sf_method: [post]

users_edit:
  url: /users/edit/:id
  class: sfDoctrineRoute
  options: { model: sfGuardUser, type: object}
  param: { module: users, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

teams_create:
  url: /teams/create
  class: sfRequestRoute
  param: { module: teams, action: create }
  requirements:
    sf_method: [get,put,post]

teams_edit:
  url: /teams/edit/:id
  class: sfDoctrineRoute
  options: { model: Teams, type: object}
  param: { module: teams, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

teams_delete:
  url: /teams/delete/:id
  class: sfDoctrineRoute
  options: { model: Teams, type: object}
  param: { module: teams, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

teams_view:
  url: /teams/view/:id
  class: sfDoctrineRoute
  options: { model: Teams, type: object}
  param: { module: teams, action: view }
  requirements:
    id : \d+
    sf_method: [get]

teams_index:
  url: /teams/index/:page
  class: sfRequestRoute
  param: { module: teams, action: index }
  requirements:
    sf_method: [get]
    page: \d+

teams_in_seasons:
  url: /teams/getbyseasons
  class: sfRequestRoute
  param: { module: teams, action: teamsInSeasons }
  requirements:
    sf_method: [get,put,post]

seasons_create:
  url: /seasons/create
  class: sfRequestRoute
  param: { module: seasons, action: create }
  requirements:
    sf_method: [get,put,post]

seasons_edit:
  url: /seasons/edit/:id
  class: sfDoctrineRoute
  options: { model: Seasons, type: object}
  param: { module: seasons, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

seasons_delete:
  url: /seasons/delete/:id
  class: sfDoctrineRoute
  options: { model: Seasons, type: object}
  param: { module: seasons, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

season_deactivate:
  url: /seasons/deactivate/:id
  class: sfDoctrineRoute
  options: { model: Seasons, type: object}
  param: { module: seasons, action: deactivate }
  requirements:
    id : \d+
    sf_method: [get]

advertising_create:
  url: /advertising/create
  class: sfRequestRoute
  param: { module: advertising, action: create }
  requirements:
    sf_method: [get,put,post]

advertising_edit:
  url: /advertising/edit/:id
  class: sfDoctrineRoute
  options: { model: advertising, type: object}
  param: { module: advertising, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

advertising_delete:
  url: /advertising/delete/:id
  class: sfDoctrineRoute
  options: { model: advertising, type: object}
  param: { module: advertising, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

advertising_deactivate:
  url: /advertising/deactivate/:id
  class: sfDoctrineRoute
  options: { model: advertising, type: object}
  param: { module: advertising, action: deactivate }
  requirements:
    id : \d+
    sf_method: [get]

config_index:
  url: /config/index
  class: sfRequestRoute
  param: { module: configs, action: index }
  requirements:
    sf_method: [get]

config_create:
  url: /config/create
  class: sfRequestRoute
  param: { module: configs, action: create }
  requirements:
    sf_method: [get,put,post]

config_edit:
  url: /config/edit/:id
  class: sfDoctrineRoute
  options: { model: configs, type: object}
  param: { module: configs, action: edit }
  requirements:
    id : \d+
    sf_method: [get, put,post]

config_delete:
  url: /config/delete/:id
  class: sfDoctrineRoute
  options: { model: configs, type: object}
  param: { module: configs, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

users_delete:
  url: /users/delete/:id
  class: sfDoctrineRoute
  options: { model: sfGuardUser, type: object}
  param: { module: users, action: delete }
  requirements:
    id : \d+
    sf_method: [get]

matchs_toornament:
  url: /matchs/toornament
  class: sfRequestRoute
  param: { module: matchs, action: toornament }

matchs_toornament_import:
  url: /matchs/toornament/import/:toornamentId/:toornamentMatchId/:gameId
  class: sfRequestRoute
  param: { module: matchs, action: toornamentImport }
  requirements:
    sf_method: [put,post]

matchs_toornament_export_match:
  url: /matchs/toornament/export/:id
  class: sfDoctrineRoute
  options: { model: Matchs, type: object}
  param: { module: matchs, action: export }
  requirements:
    id : \d+
    sf_method: [put,post]

# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*
